{{ govukPagination({
  classes: "govuk-!-margin-bottom-2",
  previous: {
    href: pagination.previousPage.href
  },
  next: {
    href: pagination.nextPage.href
  },
  items: pagination.pageItems
}) }}

{{ pagination | log }}

<p class="govuk-body">Showing {{pagination.firstResultNumber}} to {{pagination.lastResultNumber}} of {{pagination.totalCount}} results</p>