<div class="app-search-form">
  <form>
    {{ govukInput({
      id: "search[species]",
      name: "search[species]",
      label: {
        text: "Search by species",
        isPageHeading: true,
        classes: "govuk-label--s app-search-form__label"
      },
      value: data.search.species
    }) }}

    {{ govukButton({
      text: "Search",
      classes: "app-search-form__button"
    }) }}
  </form>

  <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
    <a href="#">Clear search</a>
  </p>

</div>