{% extends "layouts/main.html" %}

{% set pageName = "Bird tracker" %}

{% block content %}

  {{ data | log }}

  <h1 class="govuk-heading-xl">{{ pageName }}</h1>
  <p class="govuk-body-l">You are tracking {{ data.birds.length }} birds</p>

  {# container #}
  <div class="app-filter-layout">
    {# filter panel #}
    <div class="app-filter-layout__filter">
      {% include "_includes/filter-panel.njk" %}
    </div>
    {# content #}
    <div class="app-filter-layout__content">
      {# action bar #}
      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      {# list #}
      {% for bird in birds %}

        {% set birdStatus %}
        {% if bird.status == "Red" %}
          {{ govukTag({
            text: "Red",
            classes: "govuk-tag--red"
          }) }}
        {% elif bird.status == "Yellow" %}
          {{ govukTag({
            text: "Yellow",
            classes: "govuk-tag--yellow"
          }) }}
        {% elif bird.status == "Green" %}
          {{ govukTag({
            text: "Green",
            classes: "govuk-tag--green"
          }) }}
        {% endif %}
        {% endset %}

        {{ govukSummaryList({
          card: {
            title: {
              html: bird.name,
              classes: "govuk-!-font-size-27"
            },
            actions: {
              items: [
                {
                  href: "/" + bird.id,
                  text: "Track",
                  visuallyHiddenText: bird.name + " the " + bird.species
                }
              ]
          }
          },
          rows: [
            {
              key: {
                text: "Species"
              },
              value: {
                html: bird.species
              }
            },            
            {
              key: {
                text: "Location"
              },
              value: {
                html: bird.location
              }
            },            
            {
              key: {
                text: "Status"
              },
              value: {
                html: birdStatus
              }
            },{
              key: {
                text: "Years tracked"
              },
              value: {
                html: bird.yearsTracked
              }
            }
          ]
        }) }}

      {% endfor %}

    </div>
  </div>

{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })
  </script>
{% endblock %}