{% extends "layouts/main.html" %}

{% set pageName = "Bird tracker" %}

{% block content %}

  {{ data | log }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageName }}</h1>

      <p class="govuk-body-l">You are tracking {{ data.birds.length }} birds</p>

      {% for bird in data.birds %}

        {{ govukSummaryList({
          card: {
            title: {
              html: bird.name,
              classes: "govuk-!-font-size-27"
            },
            actions: {
              items: [
                {
                  href: "/" + bird.id,
                  text: "Track",
                  visuallyHiddenText: bird.name + " the " + bird.species
                }
              ]
          }
          },
          rows: [
            {
              key: {
                text: "Species"
              },
              value: {
                html: bird.species
              }
            },            
            {
              key: {
                text: "Location"
              },
              value: {
                html: bird.location
              }
            }
          ]
        }) }}

      {% endfor %}

    </div>
  </div>

{% endblock %}