{% extends "layouts/main.html" %}

{% set pageName = bird.name %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  {{ data | log }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageName }}</h1>

      {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Species"
              },
              value: {
                html: bird.species
              }
            },            
            {
              key: {
                text: "Location"
              },
              value: {
                html: bird.location
              }
            }
          ]
        }) }}

      <img src="/public/images/map.png" alt="">

    </div>
  </div>

{% endblock %}